body{
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background: salmon;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background-color: rgba(255, 255, 255, .3);
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
    width: 90%;
    max-width: 450px;
    margin: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.heading{
    font-size: 28px;
}

.input{
    height: 50px;
    width: 300px;
    background-color: rgba(255, 255, 255, .6);
    border-color: rgba(255, 255, 255, .4);
    font-size: 16px;
    padding: 0 40px;
    border-radius: 5px;
}
