body{
    margin: 0;padding: 0;
    font-family: sans-serif;
    background-color: #f5abc9;
    color: gray;
}

img{
    display: block;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
    height: 30rem;
    margin-bottom: 2rem;
}

.section_center{
    width: 90vw;
    margin: 0 auto;
    max-width: 2440px;
    min-width: 340px;
    padding: 5rem 0;
}

.tabs{
    background-color: #ffe5e2;
    border-radius: .5rem;
    grid-template-rows: auto 1fr;
}


.btn_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.btn{
    padding: 1rem 0;
    border: none;
    font-size: 1rem;
    background-color: #b6c9f0;
    cursor: pointer;
    transition: all .3s linear;
    letter-spacing: .25rem;
}
.btn:nth-child(1){
    border-top-left-radius: .5rem;
}
.btn:nth-child(3){
    border-top-right-radius: .5rem;
}
.btn:hover:not(.live){
    background-color: #e93b81;
    color: white;
}
.btn:active{
    background-color: #a52e5d;
}


.tabs_content{
    padding: 2rem 1.5rem;
}
.content{
    display: none;
    word-spacing: 3px;
    text-align: justify;
}
.content.live{
    display: block;
}
.btn.live{
    background-color: #ffe5e2;
}












@media (min-width:992px){
    .image{
        margin-bottom: 0;
    }
    .section_center{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}