*{margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif;}



.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}
.navbar.active{
    background-color: black;
    transition: .2s linear;
}
.navbar.active ul li a{
    color: white;
}



.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 40px;
}


.navbar ul li{
    list-style: none;
}


.navbar ul li a{
    text-decoration: none;
    color: black;
}


.navbar ul li a:hover{
    color: red;
}


.top_container{
    background: url('https://images.unsplash.com/photo-1547394765-185e1e68f34e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80') no-repeat center/cover;
    height: 100vh;
    display: grid;
    place-items: center;
}

.top_container h1{
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}


.bottom_container .text{
    margin: 50px 5%;
    font-family: sans-serif;

}