@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;}

html{ font-size: 50%; scroll-behavior: smooth; overflow-x: hidden;}
body{overflow-x: hidden;}


h1, h2, h3, h4{
    font-family: var(--poppins);
}

h1{
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}

h2{
    font-size: 1.8rem;
    font-weight: 400;
}

p{
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}