body{
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: sans-serif;
}

.container{
    position: relative;
    width: 500px;
    height: 100px;
    background-color: slateblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    min-width: 300px;
    padding: 70px 20px;
    margin: 5px;
    color: white;
}


img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    border: 5px solid slateblue;
}

.username{
    font-size: 13px;
}