body{
    margin: 0;
    background-color: #233a5c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    width: 400px;
    background-color: #fff;
    padding: 20px;
    margin: 100px auto;
    border-radius: 5PX;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    text-align: center;
}

P{
    width: 100%;
    color: rgb(255, 67, 99);
    font-size: 30px;
}

button{
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}