@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');


*{margin: 0; padding: 0; box-sizing: border-box;}
html,body{ font-size: 62.5%;  font-family: 'Poppins', sans-serif;}

:root{
  --primary-color:#005a76;
}   



.title_container{
    background: linear-gradient(
    111.38deg,
    #72fbda 35.93%,
    rgba(251, 251, 251, 0.416667) 152.79%,
    rgba(237, 237, 237, 0) 236.26%
  );
  padding: 20px 0;
  height: 80px;
}


.title_container h1{
    font-weight: 600;
    font-size: 32px;
    color: var(--primary-color);
    text-align: center;
}


.btn_container{
    height: 20vh;
    display: grid;
    place-items: center;
}


#btn{
    background: var(--primary-color);
    border: none;
    font-size: 24px;
    padding: 10px 20px;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}


.colors_container{
    height: calc(80vh - 80px);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}


#color1{
    background-color: red;
}


#color2{
    background-color: green;
}


#color3{
    background-color: yellow;
}


#color4{
    background-color: blue;
}


.colorBox p{
    background-color: rgba(255, 255, 255, 0.685);
    width: 130px;
    text-align: end;
    padding: 10px 30px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius:0 10px 10px 0;
    color: rgb(0, 0, 0);
    display: none;
    cursor: pointer;
}


.colorBox:hover p{
    display: inline-block;
}















/* Responsive */
@media(max-width: 768px){
    .title_container h1{
        font-size: 24px;
    }
}






@media(max-width: 350px){

    .title_container{
        height: 60px;
    }



    .title_container h1{
        font-size: 16px;
    }


    .colors_container{
        height: calc(80vh - 60px);
    }
}